.certificate {
    // min-height: 300px;
    
    &__block {
        background-color: $second-color;
        min-height: 300px;
        &_border {
            background-color: #fff;
            border-radius: 10px;
        box-shadow: 0 20px 64px -8px rgb(43 47 57 / 3%);
        margin: 0 4px;
        }
        

    }   
   
    &__header {
        text-align: center;
        margin-top: -1px;
        padding-top: 20px;
    }
    &__grid {
        
        display: grid;
        gap: 20px;
        // grid-template-columns: 300px 300px;
        grid-template-rows: auto;
        justify-items: center;
        align-items: center;
        padding: 0 18px 20px 18px;
        &_photo {
            height: 100%;
            .photo {
                width: 100%;
                max-height: 100%;
                // display: flex;
                // align-items: center;
                
                img {
                    width: 100%;
                    object-fit: contain;
                    height: 100%;
                }
            }
            
        }
    }
}